<!DOCTYPE html>
<html>
<title>Formule de demande</title>
<body>
<h1>Demande de composant</h1>
<form>
<label for="nom">Nom étudiant:</label>
<br>
<input type="text" id="fname" placeholder="Ex : Nicolas" name="fname"><br>
<br>
<label for="lname">Address email:</label>
<br>
<input type="text" id="lname" placeholder="Ex : nicolas@cegep.com" name="fname"><br>
 
<br>
<label for="comp">nom du composant</label>
<br>
<select id="comp" name="comp">
<option value="photon2">Photon 2</option>
<option value="lm35">LM35</option>
<option value="ne555">NE555</option>
<option value="74ls47">74LS47</option>
</select><br><br>
<label for="quantity">Quantité</label><br>
<input type="number" id="quantity" name="quantity" min="1" max="5" value="1" required><br><br>
<label for="comment">Commentaire</label>
<label for="comment">Commentaire</label><br>
<textarea id="comment" name="comment" rows="5" cols="50" placeholder="Raison? Bonne raison seulement si non sa va etre refuse.">
</textarea>
<br><br>
<button type="submit">Envoyer</button>
<button type="reset">Reinitialiser</button>
</form>
</body>
</html>
