---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="À propos"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 25 2026')}
	heroImage="/blog-about-lamp.jpg"
>
	<p>
		L'objectif principal est d'innover et d'améliorer les infrastructures énergétiques sous forme 
		de maquettes à l'école avec nos propres moyens. Ces maquettes ont pour but de démontrer l'aspect 
		mécanique des centrales nucléaires et même de les rendre davantage plus sécuritaires. Nous allons 
		aussi nous pencher vers d'autres source d'énergie dont l'éolienne, étant donné qu'elles sont très 
		peu efficace (amélioration de l'aspect mécanique).
	</p>

	<p>
		Nous allons bientôt améliorer le site et ajouter plus de choses. Merci encore une fois 
		d’avoir visité notre site!
	</p>

		<p>
		Si vous voulez nous rejoindre, voici un numéro de téléphone: +1 (514)-780-3878.
	</p>
</Layout>
