---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Chaton"
	description="Siamois Point Ble"
	pubDate={new Date('January 29 2026')}
	heroImage="/chat-1-cote.jpg"
>
	<p>
		Chat siamois de type Blue-point.
	</p>

	<img src="/chat-1-face.jpg" alt="Chat siamois de face" />

	<p>
		Il fait du bruit et il se nomme Argent en Anglais.
	</p>

	<img src="/chat-1-dort.jpg" alt="Chat siamois de face" />

	<p>
		Il a une Queue très longue.
	</p>

		<img src="/chat-1-boule.jpg" alt="Chat siamois de face" />
</Layout>
