---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Bonjour!</h1>
			<p>
				Ceci est le site officiel du Comité pro-nucléaire de GG! <a href="https://www.cgodin.qc.ca/">(Site de l'école)</a> Merci de visiter notre site web. 
			</p>
		</main>
		<Footer />
	</body>
</html>
