---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Execution"
	description="Le site officiel - WIP"
	pubDate={new Date('January 29 2026')}
	heroImage="/blog-placeholder-3.jpg"
>
	<p>
		L'objectif principal est d'innover et d'améliorer les infrastructures énergétiques sous forme 
	</p>
</Layout>
